<div class="dashboard">
  <div class="rant-input-left">
    <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>
    <br>

    <div class="user">
      <%= link_to @user.username, edit_user_path(@user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

  <div class="latest-rants">
    <h3>Latest Rants</h3>

    <% other_users.each do |user| %>

      <div class="rant-paragraph">
        <% user.rants.each do |rant| %>
          <br>

          <div class="topic">
            <p> <%= link_to user.first_name, user_path(user.id) %></p>

            <div class="other-img">
              <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>
              <% unless followed(user) %>
              <%= link_to "Follow", user_follows_path(user), method: :post %>
                <% else %>
              <%= link_to "Unfollow", user_follow_path(user, @follow), method: :delete %>
                <% end  %>
            </div>
          </div>
          <br>

          <p><%= link_to rant.rant, user_rant_path(rant.user_id, rant) %></p>

          <div class="favorite">
            <% unless favorited(rant) %>
              <%= link_to "Favorite", favorite_path(rant.user, rant) %>
            <% else %>
              <%= link_to "Unfavorite", unfavorite_path(rant.user, rant) %>
            <% end  %>


          </div>
        <% end %>
    <% end %>
    </div>

    <h3>My Rants</h3>
    <ul>
      <div class="rants">
        <div class="ranter">
          <%= @user.first_name %>
          <br>
          <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>

        </div>
        <div class="rant-paragraph">

          <% @user.rants.each do |rant| %>
            <p> <%= rant.rant %> </p>
            <br>
            <%= link_to "Delete", user_rant_path(@user, rant), method: :delete %>
            <br>
          <% end %>

        </div>
      </div>
    </ul>

  </div>
</div>



