<div class="dashboard">
  <div class="rant-input-left">
    <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>
    <br>
    <div class="user">
      <%= link_to @user.username, edit_user_path(@user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end  %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

    <div class="latest-rants">

      <h3>Latest Rants</h3>

      <div class="rants">
        <div class="ranter">

          <% @users.each do |user| %>
            <div class="rant-paragraph">

              <% user.rants.each do |rant| %>
                <%= link_to user.first_name, user_path(user.id) %>
                <%= link_to "Follow", followers_path %>
                <%= rant.rant %>...<%= time_ago_in_words(rant.created_at) %>
                <%= link_to "Favorite" %>
              <% end %>
          <% end %>

          </div>
        </div>
      </div>

    </div>


    <h3>My Rants</h3>
    <ul>
      <div class="rants">
        <div class="ranter">
          <%= @user.first_name %>
          <br>
          <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>

        </div>
        <div class="rant-paragraph">

          <% @user.rants.each do |rant| %>
            <%= rant.rant %><%= link_to "Delete", user_rant_path(@user, rant), method: :delete %>
          <% end %>

        </div>
      </div>
    </ul>
  </div>



  </div>