<div class="dashboard">
  <div class="rant-input-left">
    <img src="https://avatars2.githubusercontent.com/u/161737?v=2&s=460" height="100px" width="100px"/>
    <br>

    <div class="user">
      <%= link_to current_user.username, edit_user_path(current_user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

  <div class="latest-rants">
    <h3>Latest Rants</h3>

    <div class="rant-paragraph">
      <% @rants.each do |rant| %>
        <br>

        <div class="topic">
          <p> <%= link_to rant.user.first_name, user_path(rant.user.id) %></p>

          <div class="other-img">
            <img src="https://avatars2.githubusercontent.com/u/161737?v=2&s=460" height="100px" width="100px"/>
            <% unless followed(rant.user) %>
              <div class="follow"><%= link_to "Follow", user_follows_path(rant.user), method: :post %></div>
            <% else %>
              <div class="unfollow"><%= link_to "Unfollow", user_follow_path(rant.user, @follow), method: :delete %></div>
            <% end %>
          </div>
        </div>
        <br>

        <p> <%= link_to truncate(rant.rant, :length => 300), user_rant_path(rant.user_id, rant) %></p>
        <br>

        <div class="favorite">
          <% unless favorited(rant) %>
            <%= link_to "Favorite", favorite_path(rant.user, rant) %>
          <% else %>
            <%= link_to "Unfavorite", unfavorite_path(rant.user, rant) %>
          <% end %>
          <%= rant.favorite_count %>
        </div>
      <% end %>

    </div>

    <h3>My Rants</h3>

    <div class="ranter">
      <div class="topic">
        <p><%= link_to current_user.first_name, user_path(current_user) %></p>
      </div>
      <br>
    </div>
    <div class="rant-paragraph">
      <% current_user.rants.each do |rant| %>
        <ul>
          <p> <%= truncate(rant.rant, :length => 300) %> </p>
        </ul>
        <div class="favorite"><%= link_to "Delete", user_rant_path(current_user, rant), method: :delete %></div>
        <br>
      <% end %>
    </div>
  </div>

</div>



