<div class="gray">
  <div class="login-box">

    <h3>Login</h3>

    <%= flash[:error] if flash[:error] %>

    <%= form_for @user, url: login_path do |f| %>
      <div class="username">
        <%= f.label :username %>
      </div>
      <div class="text-field">
        <%= f.text_field :username %>
      </div>
      <div class="password">
        <%= f.label :password %>
      </div>
      <div class="text-field">
        <%= f.password_field :password %>
      </div>

      <div class="button-box">
        <%= f.submit "LOGIN", :class => 'button' %>
      </div>

    <% end %>


  </div>
</div>

