<div class="dashboard">
  <div class="rant-input-left">
    <%= render 'rants/form' %>
  </div>

  <div class="latest-rants">
    <div class="favorite"><%= link_to "Unfollow" %></div>
    <h3><%= @user.first_name + " " + @user.last_name %></h3>

    <div class="rants">
      <div class="other-img">
        <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05_400x400.jpeg" width=150px height=150px/>
      </div>
      <h1><%= @user.frequency.capitalize + " " + "Ranter" %></h1>
      <br>
      <br>
    </div>
    <div class="font">
      <div class="topic">Bio:</div> <%= @user.bio %>
      <br>
      <br>

      <% @user.rants.each do |rant| %>
        <div class="topic">
          <%= rant.topic.capitalize %>
        </div>
        <%= rant.rant %>
        <div class="favorite"><%= link_to "Favorite" %></div>
      <% end %>
    </div>
  </div>
</div>

