<div class="dashboard">
  <div class="rant-input-left">
    <%= render 'rants/form' %>
  </div>

  <div class="latest-rants">
    <div class="favorite">
      <% unless followed(@user) %>
        <%= link_to "Follow", user_follows_path(@user), method: :post %>
      <% else %>
        <%= link_to "Unfollow", user_follow_path(@user.id, @follow), method: :delete %>
      <% end %>

    </div>
    <h3><%= @user.first_name + " " + @user.last_name %></h3>

    <div class="rants">
      <div class="other-img">
        <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05_400x400.jpeg" width=150px height=150px/>
      </div>
      <h1><%= @user.frequency.capitalize + " " + "Ranter" %></h1>
      <br>
      <br>
    </div>
    <div class="font">
      <div class="topic">Bio:</div> <%= @user.bio %>
      <br>
      <br>

      <% order_favorites(@user.rants).each do |rant| %>
        <div class="topic">
          <%= rant.topic.capitalize %>
        </div>
        <%= rant.rant %>

        <div class="favorite">
          <% unless favorited(rant) %>
            <%= link_to "Favorite", favorite_path(rant.user, rant) %>
          <% else %>
            <%= link_to "Unfavorite", unfavorite_path(rant.user, rant) %>
          <% end %>

          <%= rant.favorite_count %></div>
      <% end %>
    </div>
  </div>
</div>

