<div class="dashboard">
  <div class="rant-input-left">
    <%= image_tag current_user.image.url(:thumb) %>
    <br>

    <div class="user">
      <%= link_to @user.username, edit_user_path(@user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

  <div class="latest-rants">

    <h1><%= @show_rant.topic %></h1>

    <div class="other-img">
      <%= image_tag current_user.image.url(:thumb) %>
    </div>
    <h4>by <%= link_to @user.first_name.capitalize, user_path(@user.id) %></h4>

    <div class="favorite">
      <div class="spam">
        <%= link_to "Spam" %>
      </div>
      <div class="tweet">
        <%= link_to "Tweet" %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <p><%= @show_rant.rant %></p>

    <div class="favorite">
      <% unless favorited(@rant) %>
        <%= link_to "Favorite", favorite_path(@show_rant.user, @show_rant) %>
      <% else %>
        <%= link_to "Unfavorite", unfavorite_path(@show_rant.user, @show_rant) %>
      <% end %>
      <%= @rant.favorite_count %>
    </div>
    <br>

    <% if rant_comments(@show_rant) %>
      <%= current_user.username + ":" %>
      <% rant_comments(@show_rant).each do |comment| %>
        <%= comment.comment %>
      <% end %>
    <% end %>
    <br>
    <br>
    <%= form_for(@comment, url: "/users/#{current_user.id}/rants/#{@rant.id}/rant_comments", method: :post) do |comment| %>
      <%= comment.text_field :comment, placeholder: "Your comment here..." %>
      <p>
        <%= comment.submit "RANT BACK", class: 'button' %>
    <% end %>
  </div>
</div>
</div>




