<div class="dashboard">
  <div class="rant-input-left">
    <img src= <%= current_user.image %>/>
    <br>

    <div class="user">
      <%= link_to @user.username, edit_user_path(@user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

  <div class="latest-rants">

    <h1><%= @rant.topic %></h1>

    <div class="other-img">
      <img src="https://pbs.twimg.com/profile_images/3640983126/2eab5ffd09240704352ac1b689e08d05.jpeg" width=100px height=100px/>
    </div>
    <h4>by <%= link_to @user.first_name.capitalize, user_path(@user.id) %></h4>

    <div class="favorite">
      <div class="spam">
        <%= link_to "Spam" %>
      </div>
      <div class="tweet">
        <%= link_to "Tweet" %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <p><%= truncate(@rant.rant, :length => 300) %></p>

    <div class="favorite">
      <% unless favorited(@rant) %>
        <%= link_to "Favorite", favorite_path(@rant.user, @rant) %>
      <% else %>
        <%= link_to "Unfavorite", unfavorite_path(@rant.user, @rant) %>
      <% end %>
      <%= @rant.favorite_count %>
    </div>
    <br>

    <% if rant_comments(@rant) %>
      <%= current_user.username + ":" %>
      <% rant_comments(@rant).each do |comment| %>
        <%= comment.comment %>
      <% end %>
    <% end %>
    <br>
    <br>
    <%= form_for(@comment, url: "/users/#{current_user.id}/rants/#{@rant.id}/rant_comments", method: :post) do |comment| %>
      <%= comment.text_field :comment, placeholder: "Your comment here..." %>
      <p>
        <%= comment.submit "RANT BACK", class: 'button' %>
    <% end %>
  </div>
</div>
</div>




