<div class="dashboard">
  <div class="rant-input-left">
    <%= image_tag current_user.image.url(:thumb) %>
    <br>

    <div class="user">
      <%= link_to current_user.username, edit_user_path(current_user) %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <div>
      <%= render 'rants/form' %>
    </div>
  </div>

  <div class="latest-rants">
    <h1>Following</h1>

    <div class="topic">

      <% @follows.each do |follow| %>
        <p><%= link_to follow.user.username, user_path(follow.followee_id) %></p>

        <div class="unfollow"><%= link_to "Unfollow", user_follow_path(current_user, follow), method: :delete %></div>
      <% end %>

    </div>
  </div>
</div>